body {
    padding-top: 60px;
}

/* Image captions */

.dyno-image-caption {
    font-size: .9em;
    margin-top: 5px;
}

p.dyno-footer-copyright {
    line-height: 2em;
}

/* Page header [optional] */
.dyno-page-header {
    background-color: #3498db;
    height: 60px;
    margin-bottom: 21px;
}

.dyno-page-header h1 {
    color: #fff;
    border: none;
    margin: 17px 0;
    font-size: 24px;
    padding: 0;
}

/* Docs */

/* Docs: Left navigation */

div.dyno-doc-nav h3 {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ecf0f1;
    padding-bottom: 7px
}

div.dyno-doc-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.dyno-doc-nav ul li {
    line-height: 23px;
    margin: 0 0 6px;
}

div.dyno-doc-nav ul li a:hover {
    color: #f39c12;
    text-decoration: none;
}

/* Docs: Document */

.dyno-doc h1,
.dyno-doc h2,
.dyno-doc h3,
.dyno-doc h4,
.dyno-doc h5 {
    font-weight: bold;
}

.dyno-doc h1 {
    font-size: 27px;
    margin-bottom: 22px;
}

.dyno-doc h2 {
    font-size: 24px;
    margin-bottom: 19px;
    margin-top: 27px;
}

.dyno-doc h3 {
    font-size: 21px;
    margin-bottom: 16px;
    margin-top: 24px;
}

.dyno-doc h4 {
    font-size: 18px;
    margin-bottom: 13px;
    margin-top: 21px;
}

.dyno-doc h5 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 18px;
}

/*
    Home
    ----
*/

/* Home: Banner */

section.dyno-home-banner {
    background: #2c3e50;
    color: #fff;
    padding: 55px 0 55px;
}

section.dyno-home-banner h2 {
    font-size: 40px;
    color: #3498db;
    margin-top: 0;
}

section.dyno-home-banner p {
    font-size: 22px;
    max-width: 680px;
    margin: 0 auto;
    margin-top: 21px;
    margin-bottom: 37px;
}

section.dyno-home-banner div div {
    margin-top: 45px;
}

section.dyno-home-banner div a {
/*.dyno-home-banner .dyno-home-banner-buttons .dyno-btn-home-banner {*/
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 18px;
    padding: 8px 30px;
}
section.dyno-home-banner div a:last-of-type {
    margin-left: 17px;
}

/* Home: Description */

.dyno-home-description {
    background: #fff;
    border-bottom: 1px solid #ecf0f1;
    padding: 10px 0;
    margin: 0 auto;
}

.dyno-home-description p {
    padding: 21px 0;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
}

/* Home: Architecture */

.dyno-home-architecture {
    padding: 55px 0 35px;
    margin: 0 auto;
}

.dyno-home-architecture h2 {
    margin-top: 3px;
}

.dyno-home-components {
    padding: 0;
    margin: 0 auto;
}

.dyno-home-components > div {
    padding-top: 35px;
}

.dyno-home-components h4 {
    font-weight: 700;
}

.dyno-home-components i {
    font-size: 30px;
}

/* Blog list */

.dyno-blog-list-item {
    border-bottom: 1px solid #ecf0f1;
    padding-bottom: 45px;
}

.dyno-blog-list-item h1 {
    font-size: 24px;
    margin-bottom: 13px;
    font-weight: bold;
}

.dyno-blog-list-item p.lead {
    font-size: 18px;
}

/* Muted (greyed out) text in blog list
   - By author / In categories / On date
   - Tags list
*/
.dyno-blog-list-item p.text-muted > a,
.dyno-blog-list-item div.text-muted > a {
    color: #b4bcc2;
}

.dyno-blog-list-item p.text-muted > a:active,
.dyno-blog-list-item p.text-muted > a:focus,
.dyno-blog-list-item p.text-muted > a:hover,
.dyno-blog-list-item div.text-muted > a:active,
.dyno-blog-list-item div.text-muted > a:focus,
.dyno-blog-list-item div.text-muted > a:hover {
    color: #18bc9c;
    text-decoration: none;
}

.dyno-blog-list-item a:active,
.dyno-blog-list-item a:focus,
.dyno-blog-list-item a:hover {
    color: #18bc9c;
    text-decoration: none;
}

/* Do not change the color of the blog summary during hover */
.dyno-blog-list-item a.dyno-blog-list-summary:active,
.dyno-blog-list-item a.dyno-blog-list-summary:focus,
.dyno-blog-list-item a.dyno-blog-list-summary:hover {
    color: #2c3e50;
    text-decoration: none;
}

/* Blog list pagination */
.dyno-blog-list-pagination {
    margin-top: 45px;
}

/* Taxonomy list: Categories and Tags in right/left pane */
.dyno-taxonomy-menu h3 {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ecf0f1;
    padding-bottom: 7px
}

.dyno-taxonomy-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dyno-taxonomy-menu ul li {
    line-height: 23px;
    margin: 0 0 6px;
}

.dyno-taxonomy-menu ul li a:hover {
    color: #18bc9c;
    text-decoration: none;
}