<!-- Category index: /categories/:category-name -->
{{ partial "header.html" . }}

<section class="dyno-page-header-category">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1><i class="fa fa-list-alt"></i> Category: {{ .Title | lower }}</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {{ partial "sidebar-menu-categories" . }}
            </div>

            <div class="col-xs-12 col-sm-9">
                {{ range (.Paginator 10).Pages }}
                    {{ .Render "blog-list-item" }}
                {{ end}}


                <div class="dyno-blog-list-pagination">
                    {{ if .Paginator.HasPrev }}
                        <a class="pull-left" href="{{ .Paginator.Prev.URL }}"><i class="fa fa-angle-double-left"></i> Previous Page</a>
                    {{ end }}
                    {{ if .Paginator.HasNext }}
                        <a class="pull-right" href="{{ .Paginator.Next.URL }}">Next Page <i class="fa fa-angle-double-right"></i></a>
                    {{ end }}
                </div>
            </div>

        </div>
    </div>
</section>

    {{ partial "footer.html" . }}
</body>
</html>