<!-- FAQ -->
{{ partial "header.html" . }}

<section class="dyno-page-header-faq">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1><i class="fa fa-question-circle"></i> FAQ</h1>
            </div>
        </div>
    </div>
</section>

<section class="dyno-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="dyno-faq">
                    <h1>General Questions</h1>

                    <div class="panel-group dyno-panel-group" id="faq" role="tablist" aria-multiselectable="true">

                        <div class="panel">
                            <div class="panel-heading dyno-faq-active" role="tab" id="headingOne">
                                <h4 class="panel-title dyno-faq-question">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <i class="fa fa-plus"></i> What is DynomiteDB?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    DynomiteDB is a high performance, linearly scalable, highly available (HA) and distributed database. It combines Dynomite and Redis into a single, easily installable package.
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title dyno-faq-question">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="fa fa-plus"></i> Is DynomiteDB a fork of Dynomite?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    No. DynomiteDB is built using Dynomite.
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title dyno-faq-question">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="fa fa-plus"></i> Why don't you contribute the packaging directly to the Dynomite repo?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>Dynomite is a generic Dynamo-layer that supports multiple backends. Dynomite is designed for maximum flexibility which means that configuration is left to the user.</p>

                                    <p>DynomiteDB builds on Dynomite by building backend specific packages. The first DynomiteDB package is Dynomite with a Redis backend. Future releases of DynomiteDB will combine Dynomite with other backends.</p>

                                    <p>In other words, adding opinionated packaging to Dynomite is in conflict with the project's goals, however there is value to an integrated package, thus the need for a separate DynomiteDB repo.</p>

                                    <p>You can view the original discussion on the need to keep a separate packaging repo on <a href="https://github.com/Netflix/dynomite/issues/242" target="_blank">GitHub issues</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title dyno-faq-question">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <i class="fa fa-plus"></i> How can I view the original repos?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>Each of DynomiteDB's components are available on GitHub:</p>

                                    <p>Downstream</p>
                                    <ul>
                                        <li><a href="https://github.com/DynomiteDB/dynomite-manager" target="_blank">Dynomite Manager</a></li>
                                        <li><a href="https://github.com/DynomiteDB/dynomite" target="_blank">Dynomite</a></li>
                                        <li><a href="https://github.com/DynomiteDB/dyno" target="_blank">Dyno</a></li>
                                    </ul>

                                    <p>Upstream</p>
                                    <ul>
                                        <li><a href="https://github.com/Netflix/dynomite" target="_blank">Dynomite</a></li>
                                        <li><a href="https://github.com/Netflix/dyno" target="_blank">Dyno</a></li>
                                        <li><a href="https://github.com/antirez/redis" target="_blank">Redis</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="well text-center dyno-faq-sidebar-more">
                    <i class="fa fa-question-circle fa-4x text-muted"></i>

                    <h2>Have more questions?</h2>

                    <p>Add your voice and help improve DynomiteDB.</p>

                    <a class="btn btn-primary" href="https://gitter.im/DynomiteDB" target="_blank">Join the conversation!</a>

                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
</body>
</html>
