<div class="well">
	<h2><a class="text-primary" href="{{.Permalink}}">{{ .Title }}</a></h2>

	<div>
		<span class='label {{if eq .Params.project "Dynomite"}}label-info{{end}}{{if eq .Params.project "Dyno"}}label-success{{end}}'>{{ .Params.project }}</span>
		<span class='label {{if eq .Params.timeframe "Short-term"}}dyno-roadmap-task-timeframe-st{{end}}{{if eq .Params.timeframe "Mid-term"}}dyno-roadmap-task-timeframe-mt{{end}}{{if eq .Params.timeframe "Long-term"}}dyno-roadmap-task-timeframe-lt{{end}}'>{{ .Params.timeframe }}</span>
	</div>
</div>
