<!-- Individual blog post -->
{{ partial "header.html" . }}

<section class="dyno-blog-post-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="dyno-blog-post">
                    <h1>{{ .Title }}</h1>
                    <p class="lead">{{ .Description }}</p>
                    <div><p>{{ .Content }}</p></div>

                    <div class="dyno-blog-post-footer">
                        <div class="pull-left">
                            By {{ with.Params.authors }}
                                {{ delimit (apply (apply (sort .) "partial" "author-link" ".") "chomp" ".") " &middot; " }}
                            {{ end }} /
                            In {{ with.Params.categories }}
                                {{ delimit (apply (apply (sort .) "partial" "blog-post-category-link" ".") "chomp" ".") " &middot; " }}
                            {{ end }} /
                            On {{ .Date.Format "January 2, 2006" }}
                        </div>
                        <div class="pull-right">
                            <i class="fa fa-tags"></i>
                            {{ with.Params.tags }}
                            {{ delimit (apply (apply (sort .) "partial" "blog-post-tag-link" ".") "chomp" ".") " &middot; " }}
                            {{ end }}
                        </div>
                    </div>


                        <!--<div>-->
                            <!--{{ if .Site.Params.strings.date_format }}{{ .Date.Format .Site.Params.strings.date_format }}{{ else }}{{ .Date.Format "Mon, Jan 2, 2006" }}{{ end }}</div>-->
                            <!--in-->
                            <!--{{ range $i, $e :=.Params.categories }}-->
                                <!--{{if $i}} , {{end}}-->
                                <!--<a href="/categories/{{ . | urlize }}">{{ . }}</a>-->
                            <!--{{ end }} using tags-->
                            <!--{{ range $i, $e :=.Params.tags }}-->
                                <!--{{if $i}} , {{end}}-->
                                <!--<a href="/tags/{{ . | urlize }}">{{ . }}</a>-->
                            <!--{{ end }}-->
                        <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
	</body>
</html>
