{{ partial "header.html" . }}

<section class="dyno-home-banner section offset-header">
    <div class="container text-center">
        <h2>DynomiteDB</h2>
        <p>A high performance, linearly scalable, highly available (HA) and distributed cache.</p>
        <p class="text-muted">Use DynomiteDB to improve the performance of microservices and distributed databases, such as Cassandra and MongoDB.</p>
        <div>
            <a class="btn" href="/download/">Download DynomiteDB</a>
            <a href="/docs/dynomite/v0.5.6/quick-start/" class="btn">Get Started</a>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>Home page content goes here</p>
        </div>
    </div>
</div>

    {{ partial "footer.html" . }}
</body>
</html>
